# Environment / secrets
.env
.env.local
.env.*.local
*.pem
*.key

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vs/
.vscode/
*.swp

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
build/
*.tsbuildinfo
.vercel

out.zip
